In [1]:
import yfinance as yf
import pandas as pd

In [2]:
symbols = ['ASIANPAINT.BO', 'BAJAJ-AUTO.BO', 'HCLTECH.BO', 'INFY.BO', 'TCS.BO', 'TITAN.BO']

start_date = '2022-01-01'
end_date = pd.Timestamp.today().strftime('%Y-%m-%d')  

all_data = pd.DataFrame()

In [3]:

for symbol in symbols:

    data = yf.download(symbol, start=start_date, end=end_date)

    data = data[['Close']]  
    data.columns = [symbol]  

    if all_data.empty:
        all_data = data
    else:
        all_data = all_data.join(data, how='outer')


print(all_data)


pd.DataFrame.to_csv(all_data,'backtesting_data.csv')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

            ASIANPAINT.BO  BAJAJ-AUTO.BO   HCLTECH.BO      INFY.BO  \
Date
2022-01-03    3421.850098    3275.899902  1326.250000  1897.150024
2022-01-04    3456.300049    3289.350098  1333.949951  1896.250000
2022-01-05    3526.449951    3357.800049  1311.400024  1844.949951
2022-01-06    3513.699951    3416.250000  1285.300049  1818.199951
2022-01-07    3574.649902    3390.100098  1291.050049  1813.150024
...                   ...            ...          ...          ...
2024-07-12    2999.500000    9428.549805  1560.400024  1712.000000
2024-07-15    2956.449951    9675.500000  1569.199951  1707.199951
2024-07-16    2974.399902    9707.900391  1569.800049  1725.800049
2024-07-18    2930.449951    9625.700195  1593.900024  1759.150024
2024-07-19    2945.949951    9384.900391  1594.349976  1792.849976

                 TCS.BO     TITAN.BO
Date
2022-01-03  3818.149902  2523.750000
2022-01-04  3882.699951  2579.649902
2022-01-05  3861.050049  2576.399902
2022-01-06  3806.850098  2596.750000
2022-01-07  3854.850098  2572.800049
...                 ...          ...
2024-07-12  4184.899902  3231.399902
2024-07-15  4168.000000  3223.850098
2024-07-16  4175.350098  3233.899902
2024-07-18  4314.299805  3261.949951
2024-07-19  4302.750000  3258.699951

[609 rows x 6 columns]