In [15]:
%matplotlib inline
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
symbols = ['ASIANPAINT.NS', 'BAJAJ-AUTO.NS', 'HCLTECH.NS', 'INFY.NS', 'TCS.NS', 'TITAN.NS']

start_date = '2023-01-01'  
end_date = '2024-01-01'
all_data = pd.DataFrame()

In [17]:

for symbol in symbols:

    data = yf.download(symbol, start=start_date, end=end_date)

    data = data[['Close']]  
    data.columns = [symbol]  

    if all_data.empty:
        all_data = data
    else:
        all_data = all_data.join(data, how='outer')


all_data.tail()

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

,ASIANPAINT.NS,BAJAJ-AUTO.NS,HCLTECH.NS,INFY.NS,TCS.NS,TITAN.NS
Date,,,,,,
2023-12-22,3341.300049,6372.100098,1462.699951,1562.900024,3824.000000,3627.350098
2023-12-26,3383.350098,6464.549805,1458.150024,1543.949951,3795.550049,3656.699951
2023-12-27,3404.449951,6709.649902,1472.050049,1567.099976,3811.199951,3689.250000
2023-12-28,3397.250000,6703.299805,1472.449951,1562.650024,3799.899902,3715.100098
2023-12-29,3402.399902,6797.250000,1466.099976,1542.900024,3793.399902,3675.449951

In [18]:
returns=[]
for symbol in symbols:
    returns.append((all_data[symbol].iloc[-1]-all_data[symbol][0])/all_data[symbol][0])

print(returns)

[np.float64(0.11654767490155057), np.float64(0.9018872935731027), np.float64(0.41045749622967187), np.float64(0.012401590822875657), np.float64(0.1631022885942921), np.float64(0.43250509643257334)]

/var/folders/wr/mslv0h8d73n9kkgc30xk05lm0000gn/T/ipykernel_24433/3194192809.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  returns.append((all_data[symbol].iloc[-1]-all_data[symbol][0])/all_data[symbol][0])

In [19]:
weights=[0.13996001, 0.16165737, 0.12433655, 0.18439506, 0.27926907, 0.11038194]

portfolio_return=np.dot(returns,weights)

print(portfolio_return)

0.30872057880157255

In [20]:
nifty_data=yf.download('^NSEI', start=start_date, end=end_date)
nifty_return=(nifty_data['Close'].iloc[-1]-nifty_data['Close'][0])/nifty_data['Close'][0]
print(nifty_return)

[*********************100%%**********************]  1 of 1 completed

0.1942003590389879

/var/folders/wr/mslv0h8d73n9kkgc30xk05lm0000gn/T/ipykernel_24433/1972782699.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  nifty_return=(nifty_data['Close'].iloc[-1]-nifty_data['Close'][0])/nifty_data['Close'][0]